body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  text-align: left;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
}

.info {
  font-weight: bold;
}

nav {
  text-align: right;
  border: 20px;
}